<%- include("../includes/header.ejs", {title: "Update " + account.first_name + " " + account.last_name}); %>

<h1>Update <%= account.first_name + " " + account.last_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%=account.last_name%>"/>
    <br />
    E-mail: <input id="email" name="email" type="text" value="<%=account.email%>" />
    <br />
    Company <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";


        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name  %></option>
        <% } %>
    </select>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    School <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) {
            var selected = "";


        %>
        <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name  %></option>
        <% } %>
    </select>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    Skill
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";


        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name  %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>