<%- include("../includes/header.ejs", {title:"School - " + result[0].school_name}); %>
<h1>Schools</h1>
<ul>
    <li>School Name: <%= result[0].school_name %></li>
    <li>Address(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>